.address {
    margin-top: 20px;

    &__map {
    color: var(--main-white-color);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
    display: block;
    margin-top: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    }

    &__link:focus,
    &__link:hover,
    &__map:focus,
    &__map:hover {
    color: var(--nav-color);
    }
}